.contact_us{
  background-image: url("Background.webp");
  height: 340px;
  border:1px solid blue;
  color: white;
}
.contact_box{
  display: inline-block;
  position: relative;
  left:17%;
  top:23%;
}
.contact_p{
  word-wrap: break-word;
  max-width: 450px;
  min-width: 180px;
  margin-bottom: 30px;
}
.contact_bottom_box{
  background-color: white;
  color: #333333;
  padding: 7px;
  display: inline;
  font-weight: bolder;
  border-radius: 3px;
  font-size: 12px;
}
.contact_bottom_box span{
  color: #666666;
}