
.topside{
  background-color: #133a75;
  color: white;
  text-align: end;
  padding: 5px 7%;

}
.topside span{
  padding: 2px;
  margin-right: 10px;
  border:  1px solid black;
}
.contact_us{
  background-image: url("Background.webp");
  height: 340px;
}

.copyright{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #133a75;
  color: white;
  padding: 1.5% 7%;
}